{% extends "books/base.html" %}

{% block content %}
<form action="{% url 'books:search' %}" method="get">
        <input name="search" type="" id="" placeholder="Keyword">
        <button type="submit">Search</button>
</form>
<a href="{% url 'books:new_book' %}">Add a new book</a>
<br>
<ul>
  {% for book in books %}
    <li>
      {{ book }}
      <a href="{% url 'books:edit_book' book.bid %}">Edit</a>
      <a href="/deleteurl/{{ book.pk }}">Delete</a>
    </li>
  {% endfor %}
</u>
{% endblock content %}